/* General */
html,
body {
  margin: 0px;
}

@font-face {
  font-family: "Segoe UI";
  src: url("Segoe UI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("Segoe UI Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #1b1f23;
  background-color: white;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* General Ends Here */

.header {
  z-index: 32;
  padding: 16px 30px;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  background-color: #24292e;
}

svg:not(:root) {
  overflow: hidden;
}
.v-align-middle {
  vertical-align: middle !important;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: white;
}

.Navbar {
  display: flex;
}

.Navbar__Link {
  padding-right: 15px;
  white-space: nowrap;
}

.Navbar__Link span {
  font-size:14px;
  font-weight: 400;
}

.Navbar__Items {
  display: flex;
  align-items: center
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    display: none;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

input {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  background: #24292e url(search-key-slash.svg) no-repeat 245px center;
  font-size: inherit;
  font-weight: 400;
  color: white;
  border: 1px solid #444d56;
  box-shadow: none;
  padding: 9px 10px 9px 10px;
  width: 250px;
  height: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

input[type="search"]:focus {
  width: 500px;
  background: #fafbfc url(search-key-slash.svg) no-repeat 495px center;
  background-color: #fafbfc;
  border-color: #e1e4e8;
  color: black;
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

.profile-image {
  border-radius: 50%;
  width:20px;
  height:20px;
  vertical-align: middle;
}
