/* General */
html,
body {
  margin: 0px;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #1b1f23;
  background-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2 {
  margin-bottom: 0;
}

svg:not(:root) {
  overflow: hidden;
}
.v-align-middle {
  vertical-align: middle !important;
}

.text-right {
  float: right !important;
}
.text-left {
  float: left !important;
}

.clear-float:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 25%;
  padding: 20px 30px 20px 70px;
}

/* Main column */
.main {
  flex: 70%;
  padding: 0px 50px 20px 0px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .side,
  .main {
    flex: 100%;
    padding: 20px;
  }
}

.mobileShow {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mobileShow {
    display: inline;
  }
}

.mobileHide {
  display: inline;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mobileHide {
    display: none;
  }
}

/* General Ends Here */

.header {
  z-index: 32;
  padding: 16px 30px;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  background-color: #24292e;
}

.octicon {
  display: inline-block;
  fill: white;
  vertical-align: middle;
}

.octicon-book {
  fill: black;
  opacity: 0.5;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .octicon-book {
    display: none;
  }
}

.octicon-repo {
  fill: black;
  opacity: 0.5;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .octicon-repo {
    display: none;
  }
}

.octicon-project {
  fill: black;
  opacity: 0.5;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .octicon-project {
    display: none;
  }
}

.octicon-package {
  fill: black;
  opacity: 0.5;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .octicon-package {
    display: none;
  }
}

.Navbar {
  display: flex;
}

.Navbar__Link {
  padding-right: 15px;
  white-space: nowrap;
}

.Navbar__Link span {
  font-size: 14px;
  font-weight: 400;
}

.Navbar__Items {
  display: flex;
  align-items: center;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

.Navbar__Link-notify {
  display: none;
}

.Navbar__Link-toggle i {
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .Navbar__Link-brand {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    display: none;
    align-items: baseline;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__Link {
    padding-top: 10px;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    align-self: flex-start;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .Navbar__Link-notify {
    display: none;
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

.bell-icon {
  position: relative;
}

.notify {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 100vh;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#54a3ff),
    to(#006eed)
  );
  background: linear-gradient(#54a3ff, #006eed);
  display: block;
  border: 2px solid #24292e;
  top: 3px;
  -webkit-transform: translate(40%, -50%);
  transform: translate(40%, -50%);
  right: 0;
}

.drop_down {
  height: 5px;
  width: 10px;
  display: inline-block;
  background: #fff;
  margin: 2px 2px 0 0;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.drop_down_one {
  height: 5px;
  width: 10px;
  display: inline-block;
  background: #fff;
  margin: 0px 4px;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

@media only screen and (max-width: 1024px) {
  .drop_down_one {
    display: none;
  }
}

input {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  background: #24292e url(../img/search-key-slash.svg) no-repeat 245px center;
  font-size: inherit;
  font-weight: 400;
  color: white;
  border: 1px solid #444d56;
  box-shadow: none;
  padding: 9px 10px 9px 10px;
  width: 250px;
  height: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

input[type="search"]:focus {
  width: 500px;
  background: #fafbfc url(../img/search-key-slash.svg) no-repeat 495px center;
  background-color: #fafbfc;
  border-color: #e1e4e8;
  color: black;
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

.profile-image {
  border-radius: 50%;
  width: 20px;
  vertical-align: middle;
  height: 20px;
  display: inline;
}

.image-cover {
  position: relative;
  z-index: 99;
}

.e-status {
  position: absolute;
  bottom: 15%;
  left: 83%;
  z-index: 2;
  width: 38px;
  height: 38px;
  background-color: #fff5b1;
  border: 1px solid #f9c513;
  border-radius: 50%;
  padding: 6px 8px;
}

.e-status-m {
  background-color: #fff5b1;
  border: 1px solid #f9c513;
  border-radius: 5px;
  padding: 5px;
}

.e-status-mm div {
  display: inline;
}

.repo-header {
  position: relative;
  padding-top: 30px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .repo-header {
    padding-top: 0px;
  }
}

.bordr-repo {
  border: 0.5px solid #eaecef;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 70px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .bordr-repo {
    display:none;
  }
}

@media (max-width: 800px) {
  .change-view {
    display: flex;
    flex-direction: row;
  }

  .flex-item-left {
    flex: 30%;
  }

  .flex-item-right {
    flex: 70%;
  }
}

.user-image {
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

@media only screen and (max-width: 1024px) {
  .user-image {
    width: 80px;
    height: 80px;
  }
}

.profile-name {
  font-size: 26px;
  line-height: 1px;
  font-weight: 600;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .profile-name {
    font-size: 18px;
  }
}

.user-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #586069;
}

.user-bio {
  line-height: 1.5;
  color: black;
  font-size: 14px;
}

.total-repo {
  border-radius: 13px;
  padding: 4px 8px;
  background-color: #edeff2;
}

#content34,
#content35,
#content36,
#content37 {
  display: none;
  padding: 10px 0;
}

#overview {
  display: none;
}

#repositories {
  display: none;
}

#projects {
  display: none;
}

#packages {
  display: none;
}

.overview,
.repositories,
.projects,
.packages {
  display: inline-block;
  padding: 10px 10px;

  font-size: 14px;

  font-weight: normal;

  font-style: normal;

  font-stretch: normal;

  line-height: normal;

  letter-spacing: normal;

  text-align: center;

  color: black;
  position: relative;
  z-index: 99;
}

.overview:hover,
.repositories:hover,
.projects:hover,
.packages:hover {
  border-bottom: 2px solid #eaecef;
  cursor: pointer;
}

#overview:checked + .overview {
  color: black;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #f9826c;
}

#repositories:checked + .repositories {
  color: black;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid #f9826c;
}

#repositories:checked + .repositories .octicon-repo {
  opacity: 1;
}

#projects:checked + .projects {
  color: black;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid #f9826c;
}

#packages:checked + .packages {
  color: black;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid #f9826c;
}

#overview:checked ~ #content34,
#repositories:checked ~ #content35,
#projects:checked ~ #content36,
#packages:checked ~ #content37 {
  display: block;
}

@media screen and (max-width: 1024px) {
  .overview,
  .repositories,
  .projects,
  .packages {
    padding: 10px 02px;
    text-align: left;
  }
}

.repo-input {
  background: white;
  font-size: inherit;
  font-weight: 400;
  font-size: 14px;
  color: black;
  border: 1px solid#e1e4e8;
  box-shadow: none;
  padding: 5px 12px;
  width: 100%;
  height: 35px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.all-repo {
  color: black;
  font-size: 14px;
  border-bottom: 1px solid#e1e4e8;
  max-width: 210px;
  line-height: 2;
}

.repo-names {
  font-weight: 600;
  font-size: 20px;
  color: #0366d6;
}

.repo-desc {
  color: #586069;
  font-size: 14px;
  font-weight: normal;
  max-width: 500px;
}

.repo-star {
  background-color: #edeff2;
  border: 1px solid rgba(21, 31, 35, 0.15);
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  max-width: 80px;
  border-radius: 5px;
  margin-top: 20px;
}

.row-bt {
  border-bottom: 1px solid #e1e4e8;
}

.octicon-star {
  fill: #6a737d;
}

.octicon-repo-forked {
  fill: #6a737d;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid rgba(27, 31, 35, 0.5);
  border-radius: 50%;
}

.programmingLanguage {
  color: #586069;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 15px;
}
